# Dependencies
/node_modules/
/desktop/node_modules/

# Build
/dist/
/.next/
/out/
/desktop/out/
/desktop/build/
/desktop/packageTest/

# Environment
.env*
*.tsbuildinfo
next-env.d.ts
.env.sentry-build-plugin