name: Build and Publish Electron App

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - name: Setup
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          bun install
          cd desktop && bun install

      - name: Build Frontend
        run: bun run build

      - name: Build & Publish Electron App
        working-directory: ./desktop
        run: bun run ${{ runner.os == 'Windows' && 'build:win' || 'build' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Linux only
      - name: Publish AUR package (tensamin-bin)
        if: matrix.os == 'ubuntu-latest'
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-bin
          pkgbuild: ./desktop/aur/bin/PKGBUILD
          assets: ./desktop/aur/bin/tensamin.install
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519

      - name: Install Nix (for Flake update)
        if: matrix.os == 'ubuntu-latest'
        uses: cachix/install-nix-action@v25
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run `nix-update`
        if: matrix.os == 'ubuntu-latest'
        run: |
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          NEW_VERSION=$(jq -r '.version' package.json)

          nix run github:Mic92/nix-update -- \
            --flake \
            --version="$NEW_VERSION" \
            default

          if [[ -n $(git status --porcelain) ]]; then
            git add .
            git commit -m "chore: update to v$NEW_VERSION"
          else
            echo "No updates found."
          fi

      - name: Push Nix changes
        if: matrix.os == 'ubuntu-latest' && success()
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  publish-aur-git:
    runs-on: ubuntu-latest
    name: Publish (tensamin-git)
    steps:
      - uses: actions/checkout@v4

      - name: Publish AUR package
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-git
          pkgbuild: ./desktop/aur/git/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519
          update_pkgver: true
