name: Build and Publish Electron App

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - name: Setup
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          bun install
          cd desktop && bun install

      - name: Build Frontend
        run: bun run build

      - name: Build & Publish Electron App
        working-directory: ./desktop
        run: bun run ${{ runner.os == 'Windows' && 'build:win' || 'build' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-aur-bin:
    needs: build
    runs-on: ubuntu-latest
    name: Publish (tensamin-bin)
    steps:
      - uses: actions/checkout@v4

      - name: Publish AUR package
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-bin
          pkgbuild: ./desktop/aur/bin/PKGBUILD
          assets: ./desktop/aur/bin/tensamin.install
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519
        env:
          PKG_VERSION: ${{ needs.create-release.outputs.version }}

  publish-aur-git:
    runs-on: ubuntu-latest
    name: Publish (tensamin-git)
    steps:
      - uses: actions/checkout@v4

      - name: Publish AUR package
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-git
          pkgbuild: ./desktop/aur/git/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519
          update_pkgver: true
