name: Build and Publish Electron & Web App

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: macos-15-intel
            arch: x64
          - os: macos-latest
            arch: arm64
          - os: ubuntu-latest
          - os: ubuntu-22.04-arm
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Set up nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up build process
        run: |
          cd web
          bun install
          cd ..

          cd desktop
          bun install
          cd ..

      - name: Build Frontend
        working-directory: ./web
        run: bun run build

      - name: Build App
        working-directory: ./desktop
        run: bun run ${{ runner.os == 'Windows' && 'publish:win' || 'publish' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-web-app:
    name: Publish (web)
    runs-on: ubuntu-latest
    steps:
      - name: Update on methanium
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWD }}
          port: ${{ secrets.SSH_PORT }}
          script: cd /home/${{ secrets.SSH_USER }}/Tensamin/Release && ./update.sh

  publish-aur-bin-flake:
    name: Publish (aur-bin, flake)
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Publish tensamin-bin
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-bin
          pkgbuild: ./desktop/aur/bin/PKGBUILD
          assets: ./desktop/aur/bin/tensamin.install
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519

      - name: Set up nix
        uses: cachix/install-nix-action@v25
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update nix flake
        run: |
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git pull -f

          NEW_VERSION=$(jq -r '.version' package.json)

          nix run github:Mic92/nix-update -- \
            --flake \
            --version="$NEW_VERSION" \
            default

          if [[ -n $(git status --porcelain) ]]; then
            git add .
            git commit -m "chore: update to v$NEW_VERSION"
          else
            echo "No updates found."
          fi

      - name: Push changes
        if: success()
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  publish-aur-git:
    runs-on: ubuntu-latest
    name: Publish (aur-git)
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Publish tensamin-git
        uses: ulises-jeremias/github-actions-aur-publish@v1
        with:
          pkgname: tensamin-git
          pkgbuild: ./desktop/aur/git/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Automated Update
          ssh_keyscan_types: ed25519
          update_pkgver: true
